.icon {
    display: inline-block;
}

.dropdown-caret{
    left: auto;
    right: 15px;

    position: absolute;
    top: -10px;

    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
    .caret-outer {
        border-bottom: 10px solid #8899a6;
        border-bottom-color: rgba(0,0,0,0.1);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: auto;
        left: 0;
        top: 0;
        width: auto;

        position: absolute;
        display: inline-block;
        margin-left: -1px;
    }

    .caret-inner {
        top: 1px;
        left: 1px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #fff;
        border-bottom-color: rgba(255,255,255,0.98);
        position: absolute;

        display: inline-block;
        margin-left: -1px;
    }
}
a{
    text-decoration: none !important;
    color: $black;
}

.hide{
    display: block;
}

.background-theme-orange{
    background-color:$background_orange;
}
.list{
    overflow-y: auto;
       max-height: 495px;
}

.ml2{
    margin-left: 2%;
}


#main-toolbar{
    color: $orange;
    background-color: white;
    md-icon{
        color: $orange;
    }

    md-input-container{
        margin-top: 3%;
        md-icon{
            font-size: 1.5em;
        }
        input[type="text"]{
            border-bottom-style: none;
        }
    }

    .md-icon-button {
        margin-top: -0.5%;
        &:hover{
            md-icon{
                color:$clear_orange; 
            }
        }
        md-icon{
            font-size: 2em;
        }

    }

    .toolbar-create{
        .button-back{
            color: $grey;
            i{
                font-size: 1.7em;
                position: relative;
                top: 0.15em;
            }
        }
        h2{
            margin-left: 30%;
        }

    }


}


.input-create{

    h3{
        color: $orange;
        font-size: 1.8em;
    }
    p{
        font-size: 0.95em;
        margin-top: -10%;
    }
    md-input-container{
        margin-top: 8%;
    }
    md-radio-group{
        margin-top: 4%;
    }
}

.button-create{
    button{
        span{
            color: $white;
            font-weight: bold;
        }

    }
}
