#login-body{


    h2{
        text-align: center;
        twemoji{
            img:{
                vertical-align:middle;
            }
        }
    }

    md-card{
        background-color: $yellow;
        md-content{
            background-color: $yellow;
        }





        md-input-container{
            &:not(.md-input-focused):not(.md-input-invalid), &:not(.md-input-focused){
                .md-input, label{

                    color:  $clear_black;
                    border-color: $clear_black;
                }
            }
            .md-input-invalid{
                label{
                    color: $red;
                }
            }



        }











    }




}