#main-toolbar{
    color: $orange;
    background-color: white;
    md-icon{
        color: $orange;
    }

    md-input-container{
        margin-top: 3%;
        md-icon{
            font-size: 1.5em;
        }
        input[type="text"]{
            border-bottom-style: none;
        }
    }

    .md-icon-button {
        margin-top: -0.5%;
        &:hover{
            md-icon{
                color:$clear_orange; 
            }
        }
        md-icon{
            font-size: 2em;
        }

    }

    .toolbar-create{
        .button-back{
            color: $grey;
            i{
                font-size: 1.7em;
                position: relative;
                top: 0.15em;
            }
        }
        h2{
            margin-left: 30%;
        }

    }


}

.input-create{

    h3{
        color: $orange;
        font-size: 1.8em;
    }
    p{
        font-size: 0.95em;
        margin-top: -10%;
    }
    md-input-container{
        margin-top: 8%;
    }
    md-radio-group{
        margin-top: 4%;
    }
}

.button-create{
    button{
        span{
            color: $white;
            font-weight: bold;
        }

    }
}
.magnitude-list{
    .magnitude-type-icon{
        font-size: 1.5em;
        color:$orange !important;
    }
    button{
        font-size: 1.5em;
        i{
            margin-top: 10%;
        }
    }

    .badge, .badge-negative{

        padding: 1%;
        border-radius: 2px;
    }

    .badge{
        background-color: $orange;
        color: $white;
    }

    .badge-negative{
        background-color: $white;
        color: $orange;
    }
}

.detail-toolbar{
    background-color: $white;
    color:$orange;
    .detail-toolbar-item {
        text-align: center;
        padding-top: 1.5%;
        text-transform: capitalize;
        font-size: 1em;

        &:not(:first-child):not(:last-child){
            margin-right: -1%;
            margin-left: -1%;
        }
        &:first-child{
            margin-left: -15px;
        }


        &:last-child{
            margin-right: -15px;
        }
    }
    .active{
        border-bottom: solid;
    }

    .disable{
        background-color:  rgba(158,158,158,0.2);
        color:$grey;
    }

}

.analog-content{
    height: 418px !important;
    overflow-y: hidden !important;
}

.detail{
    height: 400px;
    overflow-y:auto;
    button{
        i{
            font-size: 1.5em;
        }

    }
    .detail-info{
        md-toolbar{
            color: $orange;
            background-color: white;
        }
        margin-top: 5%;
        .radio{
            margin-top: 6%;
        }


    }
    .detail-units{
        .digital{
            md-card-header,  md-card-title{
                padding-bottom: 0px;
            }
            md-input-container{

                margin: 5px 0;
            }
        }

        .analog{
            background-color: $white;
            .analog-toolbar{
                color: $orange;
                background-color: white;
                height: 45px;
                button{
                    position: fixed;
                    right: 0;
                    margin-top: -1%;
                    margin-right: 4%;
                    font-size: 1.5em;
                    background-color: #FF9800;
                    md-icon{
                        margin-top: -13px;
                        color: $white;
                    }
                }



            }

            .analog-list{
                max-height: 325px;
                overflow-y: auto;

                .symbol{
                    margin-right: 5%;
                }
                button{
                    margin-top: -2%;
                }

                .md-delete{
                    min-width: 20px !important;
                }
            }
        }
    }
    .detail-conversions{
        .detail-content{
            overflow-y: auto;
            background-color: $white;
            max-height: 400px;
            .button-add{
                position:fixed;
                margin-right: 4%;
                right: 0;
                margin-top: -1%;
                font-size: 1.8em;
                background-color: #FF9800;
                &:hover{
                    background-color: #FF9800;
                }
                md-icon{
                    margin-top: -13px;
                    color: $white;
                }
            }
            
            .operation{
                    padding-top: 1.5%;
            }
            
            .md-delete{
                 min-width: 20px !important;
            }
        }
    }

}

.conversion-dialog{
    md-toolbar{
        color: $white;
        background-color:$orange;
    }

    md-icon{
        font-size: 1.5em;
    }

    md-dialog-content{
        width: 500px;
    }

    .errors{
        color:$red;
    }
}


