.task-item{
    md-icon{
           margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important; 
    }
    md-input-container{
        margin-bottom: 0; 
    }
    .task-select{
        margin-bottom: 24px;
    }
    button{
        span{
                font-size: 0.6em;

        }
    }
}