.icon {
    display: inline-block;
}

a{
    text-decoration: none !important;
    color: $black;
}

.hide{
    display: block;
}

.ml2{
    margin-left: 2%;
}

.mt5{
    margin-top: 5%;
}

.orange{
    color:$orange;
}
