<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class=" toolbar-create md-toolbar-tools" layout="row">
        <md-button aria-label="Go Back" flex="10" class="button-back" ng-click="goBack()">
            <i class="mdi mdi-chevron-left"></i>Go Back
        </md-button>
        <h2 flex>
            <span>{{magnitude.display_name}}</span>
        </h2>
    </div>
</md-toolbar>

<div  class="detail-toolbar md-toolbar-tools" layout="row"layout-align="space-between stretch">

    <div flex class="detail-toolbar-item md-button" ng-click="select('info')" ng-class="{'active':SelectedIndex==='info'}">
        <span>Info</span>  <i class="mdi mdi-information-outline"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('units')" ng-class="{'active':SelectedIndex==='units'}">
        <span>Units</span>  <i class="mdi mdi-numeric"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('conversions')" ng-class="{'active':SelectedIndex==='conversions', 'disable':Digital()}">
        <span>Conversions</span> <i class="mdi mdi-stethoscope"></i>
    </div>
</div>

<md-content  ng-switch on="SelectedIndex" class="detail background-theme-orange" layout-padding ng-class="{'analog-content':!Digital() }">
    <div class="detail-info" ng-switch-when="info" layout="row" layout-align="center stretch">

        <md-card class="detail-form" flex>
            <md-toolbar class="md-whiteframe-1dp">
                <div class="md-toolbar-tools" >
                    <h3>Display Name</h3>
                </div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="center center" md-theme="smartTheme">
                <md-input-container flex layout="row">
                    <input ng-model="magnitude.display_name" type="text" flex flex-order="1" ng-disabled="!editable.name">
                    <md-button flex="5" flex-order="2" ng-click="editable.name=true" ng-if="!editable.name" class="md-primary">
                        <i class="mdi mdi-pencil"></i>
                    </md-button>
                    <md-button flex="5" flex-order="2" ng-click="changeDisplayName()" ng-if="editable.name" class="md-primary">
                        Update
                    </md-button>
                </md-input-container>


            </md-card-content>

        </md-card>

        <md-card class="detail-form" flex>
            <md-toolbar class="md-whiteframe-1dp">
                <div class="md-toolbar-tools" >
                    <h3>System Type</h3>
                </div>
            </md-toolbar>
            <md-card-content layout-align="center center" layout="row" class="radio" md-theme="smartTheme">
                <md-radio-group ng-model="magnitude.type" layout="row">
                    <md-radio-button value="0" flex class="md-primary" ng-disabled="!editable.type">Analog</md-radio-button>
                    <md-radio-button value="1" flex class="md-primary" ng-disabled="!editable.type">Digital</md-radio-button>
                </md-radio-group>

                <md-button flex="5" flex-order="2" ng-click="editable.type=true" ng-if="!editable.type" class="md-primary">
                    <i class="mdi mdi-pencil"></i>
                </md-button>

                <md-button flex="5" flex-order="2" ng-click="changeType()" ng-if="editable.type" class="md-primary">
                    Update
                </md-button>

            </md-card-content>
        </md-card>


    </div>

    <div class="detail-units" ng-switch-when="units"  ng-switch on="magnitude.type" >
        <div ng-switch-when="1" class="digital">
            <md-card>

                <md-card-header>


                    <md-card-header-text>
                        <span class="md-title">Digital System</span>
                        <span class="md-subhead">Meaning of Digital Units</span>

                    </md-card-header-text>

                </md-card-header>
                <md-card-title>
                    <md-card-title-text>

                        <span class="md-headline">  <i class="mdi mdi-earth"></i>ON</span>

                        <md-input-container md-theme="smartTheme">
                            <input ng-model="magnitude.digital_units.on" type="text"  ng-disabled="!editable.digital_units">
                        </md-input-container>
                    </md-card-title-text>

                </md-card-title>


                <md-card-title>
                    <md-card-title-text >

                        <span class="md-headline">    <i class="mdi mdi-earth-off" flex></i> OFF </span>

                        <md-input-container md-theme="smartTheme">
                            <input ng-model="magnitude.digital_units.off" type="text" ng-disabled="!editable.digital_units">
                        </md-input-container>
                    </md-card-title-text>

                </md-card-title>

                <md-card-actions layout="row" layout-align="end center" md-theme="smartTheme">
                    <md-button ng-click="editable.digital_units=true" ng-if="!editable.digital_units" class="md-primary">
                        <i class="mdi mdi-pencil"></i>
                    </md-button>

                    <md-button  ng-if="editable.digital_units" class="md-primary" ng-click="changeDigitalUnits()">
                        Update
                    </md-button>
                </md-card-actions>
            </md-card>



        </div>
        <div ng-switch-when="0" class="analog md-whiteframe-1dp">
            <md-toolbar class="md-whiteframe-1dp analog-toolbar">
                <div class="md-toolbar-tools">
                    <h4>Analog System</h4>
                    <span flex></span>
                    <md-button class="md-fab md-mini" aria-label="More" ng-click="addAnalogUnit()">
                        <md-icon md-font-icon="mdi-plus" class="mdi"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list class="analog-list">
                <md-list-item ng-repeat="unit in magnitude.analog_units | orderBy:'-'" layout="row"  md-theme="smartTheme">

                    <md-input-container flex-offset="5" flex>
                        <label>Display Name</label>
                        <input ng-model="unit.display_name" type="text" ng-disabled="!unit.editable">

                    </md-input-container>
                    <md-input-container flex-offset="10" flex="20" class="symbol">
                        <label>Symbol</label>
                        <input ng-model="unit.symbol" type="text" ng-disabled="!unit.editable">
                    </md-input-container>
                    <md-button flex="nogrow"  ng-if="!unit.editable" ng-click="unit.editable=true" class="md-primary">
                        <i class="mdi mdi-pencil"></i>
                    </md-button>
                    <md-button flex="nogrow" ng-if="unit.editable" class="md-primary">
                        Update
                    </md-button>
                </md-list-item>

            </md-list>


        </div>

    </div>

</md-content>


