<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class=" toolbar-create md-toolbar-tools" layout="row">
        <md-button aria-label="Go Back" flex="10" class="button-back" ng-click="goBack()">
            <i class="mdi mdi-chevron-left"></i>Go Back
        </md-button>
        <h2 flex>
            <span>{{magnitude.display_name}}</span>
        </h2>
    </div>
</md-toolbar>




<div class="detail-toolbar md-toolbar-tools" layout="row"     layout-align="space-between stretch">

    <div flex class="detail-toolbar-item active">
        <span>Info</span>
    </div>
    <div flex class="detail-toolbar-item">
        <span>Units</span>
    </div>
    <div flex class="detail-toolbar-item">
        <span>Conversion</span>
    </div>
</div>
