<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class=" toolbar-create md-toolbar-tools" layout="row">
        <md-button aria-label="Go Back" flex="10" class="button-back" ng-click="goBack()">
            <i class="mdi mdi-chevron-left"></i>Go Back
        </md-button>
        <h2 flex>
            <span>{{sensor_grid.display_name}}</span>
        </h2>
    </div>
</md-toolbar>


<div  class="detail-toolbar md-toolbar-tools" layout="row"layout-align="space-between stretch">

    <div flex class="detail-toolbar-item md-button" ng-click="select('info')" ng-class="{'active':SelectedIndex==='info'}">
        <span>Info</span>  <i class="mdi mdi-information-outline"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('sensors')" ng-class="{'active':SelectedIndex==='sensors'}">
        <span>Sensors</span>  <i class="mdi mdi-access-point-network"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('location')" ng-class="{'active':SelectedIndex==='location'}">
        <span>Location</span>  <i class="mdi mdi-map-marker"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('settings')" ng-class="{'active':SelectedIndex==='settings'}">
        <span>Settings</span>  <i class="mdi mdi-cake"></i>
    </div>


</div>


<md-content  ng-switch on="SelectedIndex" class="detail background-theme-orange" layout-padding >

    <div class="detail-info" ng-switch-when="info" layout="column" layout-align="center stretch">
        <md-card class="detail-form" flex>
            <md-toolbar class="md-whiteframe-1dp">
                <div class="md-toolbar-tools" layout="row"  layout-align="start center">
                    <h3 flex>Communication Center</h3>
                    <md-button flex="5" ng-click="editable.communication_center=true" ng-if="!editable.communication_center" class="md-primary" aria-label="Start Update communication_center">
                        <i class="mdi mdi-pencil orange"></i>
                    </md-button>
                    <md-button flex="5" ng-click="changeCommunicationCenter()" ng-if="editable.communication_center" class="md-primary" aria-label="Update communication_center">
                        <span class="orange">Update</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content md-theme="smartTheme" layout="row">
                <md-input-container class="md-block" flex="20">
                    <label>Device Name</label>
                    <input ng-model="sensor_grid.device_name" type="text" flex ng-disabled="!editable.communication_center" aria-label="communication_center device name">

                </md-input-container>

                <md-input-container class="md-block" flex flex-offset="10">
                    <label>Description</label>
                    <textarea ng-model="sensor_grid.description" ng-disabled="!editable.communication_center" md-maxlength="150" rows="5" md-select-on-focus aria-label="Description"></textarea>

                </md-input-container>
            </md-card-content>
        </md-card>

        <md-card class="detail-form" flex>
            <md-toolbar class="md-whiteframe-1dp">
                <div class="md-toolbar-tools">
                    <h3 flex>Credentials</h3>

                </div>
            </md-toolbar>
            <md-card-content md-theme="smartTheme">
                <md-input-container class="md-block" flex>
                    <label>Client ID</label>
                    <md-icon md-font-icon="mdi-clipboard-outline" class="mdi copy-icon" title="Copy Client ID" ng-click="copyToClipboard(sensor_grid.client_id)"></md-icon>
                    <input ng-model="sensor_grid.client_id" type="text" ng-disabled="true" aria-label="client id">

                </md-input-container>

                <md-input-container class="md-icon-float md-icon-right md-block" flex>
                    <label>Client Secret</label>
                    <md-icon md-font-icon="mdi-clipboard-outline" class="mdi copy-icon" title="Copy Client Secret" ng-click="copyToClipboard(sensor_grid.client_secret)"></md-icon>
                    <input ng-model="sensor_grid.client_secret" type="{{show.secret}}"  ng-disabled="true" aria-label="client secret">
                    <md-icon md-font-icon="mdi-lock" class="mdi copy-icon" title="Show Client Secret" ng-click="showSecret()" ng-if="show.secret==='password'"></md-icon>
                    <md-icon md-font-icon="mdi-reload" class="mdi copy-icon" title="Reload Client Secret" ng-if="show.secret==='text'" ng-click="reloadSecret()"></md-icon>
                </md-input-container>

            </md-card-content>
        </md-card>

    </div>

    <div class="detail-settings md-whiteframe-1dp" ng-switch-when="settings" layout="column" md-theme="smartTheme">

        <div layout="row" flex class="input-create">
            <div  flex="20"  flex-offset="5">
                <h3>Display Name</h3>

            </div>

            <md-input-container flex="50" flex-offset="10">
                <input ng-model="sensor_grid.display_name" aria-label="Display Name" ng-disabled="!editable.display_name">
            </md-input-container>
            <div flex="10" layout="row" layout-align="center center">
                <md-button flex ng-click="editable.display_name=true" ng-if="!editable.display_name" class="md-primary" aria-label="Start Update display_name">
                    <i class="mdi mdi-pencil orange"></i>
                </md-button>
                <md-button flex ng-click="changeDisplayName()" ng-if="editable.display_name" class="md-primary" aria-label="Update display_name">
                    <span class="orange">Update</span>
                </md-button>
            </div>


        </div>
        <md-divider ></md-divider>
        <div layout="row" flex class="input-create">
            <div  flex="20"  flex-offset="5">
                <h3>Zone Location</h3>

            </div>

            <md-input-container flex="30" flex-offset="20" class="select">
                <label>Select Zone</label>
                <md-select ng-model="sensor_grid.zone" ng-disabled="!editable.zone">
                    <md-option ng-repeat="zone in zones" value="{{zone._id}}">
                        {{zone.display_name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex="10" layout="row" layout-align="center center">
                <md-button flex ng-click="editable.zone=true" ng-if="!editable.zone" class="md-primary" aria-label="Start Update zone">
                    <i class="mdi mdi-pencil orange"></i>
                </md-button>
                <md-button flex ng-click="changeZone()" ng-if="editable.zone" class="md-primary" aria-label="Update zone">
                    <span class="orange">Update</span>
                </md-button>
            </div>


        </div>

        <md-divider ></md-divider>
        <div layout="row" flex class="input-create">
            <div  flex="20"  flex-offset="5">
                <h3>Allow Access</h3>

            </div>
            <md-switch flex="30" class="select" ng-model="editable.haveAccess" aria-label="Allow Access" ng-change="allowAccess()">
            </md-switch>



        </div>

    </div>

    <div class="detail-location md-whiteframe-1dp" ng-switch-when="location" layout="column" md-theme="smartTheme">

        <div layout="row" flex>

            <span class="location" flex="10">
                <i class="mdi mdi-crosshairs-gps" ng-click="editable.location&&getCurrentLocation()"></i>
            </span>

            <md-input-container flex>
                <label>Latitude</label>
                <input input="text" ng-model="sensor_grid.location[0]" ng-disabled="!editable.location">
            </md-input-container>
            <md-input-container flex>
                <label>Longitude</label>
                <input input="text" ng-model="sensor_grid.location[1]" ng-disabled="!editable.location">
            </md-input-container>

            <div flex="10" layout="row" layout-align="center center">
                <md-button flex ng-click="editable.location=true" ng-if="!editable.location" class="md-primary" aria-label="Start Update location">
                    <i class="mdi mdi-pencil orange"></i>
                </md-button>
                <md-button flex ng-click="changeLocation()" ng-if="editable.location" class="md-primary" aria-label="Update location">
                    <span class="orange">Update</span>
                </md-button>
            </div>

        </div>
        <ng-map center="{{editable.center}}">
            <marker position="{{sensor_grid.location||'[40.74, -74.18]'}}" title="drag me" draggable="{{editable.location}}"></marker>
        </ng-map>

    </div>

    <div class="detail-sensors-list" ng-switch-when="sensors" layout="column" md-theme="smartTheme">

        <div class="md-whiteframe-1dp detail-content">
            <md-button class="md-fab button-add" aria-label="Add sensor" ng-click="createSensor()">
                <md-icon md-font-icon="mdi-plus" class="mdi"></md-icon>
            </md-button>
            <md-list  ng-cloak class="list-content">
                <div ng-repeat="sensor in sensors | orderBy:'-'">
                    <div  layout="row">
                        <md-list-item  ng-click="goToSensorDetail(sensor._id)" flex="75">
                            <md-icon  md-font-icon="{{Icon(sensor.display_name)}}" class="mdi list-type-icon"></md-icon> 
                            <p> {{ sensor.display_name }} </p>


                        </md-list-item>

                        <md-button class="md-primary" aria-label="Delete" ng-click="deleteSensor(sensor._id)" flex="5">
                            <i class="mdi mdi-delete"></i>
                        </md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
                <md-list-item ng-if="sensors.length===0">
                    No Sensors
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>