<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class="md-toolbar-tools" layout="row"  layout-align="start center">

        <md-input-container md-no-float class="md-block" flex> 
            <md-icon  md-font-icon="mdi-magnify" class="mdi"></md-icon>             
            <input type="text" ng-model="list.query.search" placeholder="Filter zones" ng-change="search()">
        </md-input-container>


        <md-button class="md-icon-button" aria-label="More" flex="5" ng-click="create()">
            <md-icon md-font-icon="mdi-plus" class="mdi"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<div class="list-container">

    <md-content layout-padding layout="column" md-theme="smartTheme" class="list">

        <md-list  ng-cloak class="list-content">
            <div ng-repeat="zone in zones" >
                <div  layout="row">
                    <md-list-item  ng-click="goToDetail(zone._id)" ng-mousedown="openTab($event, zone._id)" flex>
                        <md-icon  md-font-icon="{{Icon(zone.shape.type)}}" class="mdi list-type-icon"></md-icon>
                        <p flex="15"> Ref: {{ zone.ref|fill:4 }} </p>  
                        <p> {{ zone.display_name }} </p>

                    </md-list-item>

                    <md-button class="md-primary" aria-label="Delete" ng-click="delete(zone._id)" flex="5">
                        <i class="mdi mdi-delete"></i>
                    </md-button>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
            <md-list-item ng-if="zones.length==0">
                No Zones

            </md-list-item>
        </md-list>

    </md-content>
</div>


<div layout="row" class="pagination"  flex-offset="50" md-theme="smartTheme">
    <md-button class="md-icon-button" aria-label="Prev" flex="10" ng-click="prev()">
        <md-icon md-font-icon="mdi-skip-previous-circle-outline" class="mdi"></md-icon>
    </md-button>
    <md-select ng-model="list.query.p" flex="5" md-container-class="pagination-size" class="select-page" ng-change="changePage()" aria-label="Select Page">
        <md-option ng-repeat="p in list.pagination" value="{{p}}">{{p+1}}</md-option>
    </md-select>
    <span flex="10" flex-offset="5">/{{list.numPages}}</span>

    <md-button class="md-icon-button next" aria-label="Next" flex="10" ng-click="next()">
        <md-icon md-font-icon="mdi-skip-next-circle-outline" class="mdi"></md-icon>
    </md-button>
    <span class="label-size">Page Size</span>
    <md-select ng-model="list.query.s" flex="5" md-container-class="pagination-size" ng-change="changeSize()" aria-label="Select Size">
        <md-optgroup label="Page Size">
            <md-option value="1">1</md-option>
            <md-option value="5">5</md-option>
            <md-option value="10">10</md-option>
            <md-option value="50">50</md-option>
            <md-option value="100">100</md-option>
        </md-optgroup>
    </md-select>

</div>