<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class=" toolbar-create md-toolbar-tools" layout="row">
        <md-button aria-label="Go Back" flex="10" class="button-back" ng-click="goBack()">
            <i class="mdi mdi-chevron-left"></i>Go Back
        </md-button>
        <h2 flex>
            <span>{{zone.display_name}}</span>
        </h2>
    </div>
</md-toolbar>


<div  class="detail-toolbar md-toolbar-tools" layout="row"layout-align="space-between stretch">

    <div flex class="detail-toolbar-item md-button" ng-click="select('info')" ng-class="{'active':SelectedIndex==='info'}">
        <span>Info</span>  <i class="mdi mdi-information-outline"></i>
    </div>
    <div flex class="detail-toolbar-item md-button" ng-click="select('location')" ng-class="{'active':SelectedIndex==='location'}">
        <span>Location</span>  <i class="mdi mdi-map-marker"></i>
    </div>

</div>

<md-content  ng-switch on="SelectedIndex" class="detail background-theme-orange" layout-padding >

    <div class="detail-info" ng-switch-when="info" layout="column" layout-align="center stretch">
        <div layout="row" layout-align="center stretch">
            <md-card class="detail-form" flex>
                <md-toolbar class="md-whiteframe-1dp">
                    <div class="md-toolbar-tools" layout="row"  layout-align="start center">
                        <h3 flex>Display Name</h3>
                        <md-button flex="5" ng-click="editable.display_name=true" ng-if="!editable.display_name" class="md-primary" aria-label="Start Update Display Name">
                            <i class="mdi mdi-pencil orange"></i>
                        </md-button>
                        <md-button flex="5" ng-click="changeDisplayName()" ng-if="editable.display_name" class="md-primary" aria-label="Update Display Name">
                            <span class="orange">Update</span>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-card-content md-theme="smartTheme">
                    <md-input-container class="md-block">
                        <label>Name Zone</label>
                        <input ng-model="zone.display_name" type="text" flex flex-order="1" ng-disabled="!editable.display_name" aria-label="Display Name">

                    </md-input-container>
                </md-card-content>
            </md-card>

            <md-card class="detail-form" flex>
                <md-toolbar class="md-whiteframe-1dp">
                    <div class="md-toolbar-tools" layout="row"  layout-align="start center">
                        <h3 flex>Description</h3>
                        <md-button flex="5" ng-click="editable.description=true" ng-if="!editable.description" class="md-primary" aria-label="Start Update Description" >
                            <i class="mdi mdi-pencil orange"></i>
                        </md-button>
                        <md-button flex="5"  ng-click="changeDescription()" ng-if="editable.description" class="md-primary"
                                   aria-label="Update Description">
                            <span class="orange">Update</span>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-card-content md-theme="smartTheme">
                    <md-input-container class="md-block">
                        <label>About Zone</label>
                        <textarea ng-model="zone.description" ng-disabled="!editable.description" md-maxlength="150" rows="5" md-select-on-focus aria-label="Description"></textarea>

                    </md-input-container>
                </md-card-content>
            </md-card>
        </div>
        <md-card class="detail-form" flex>
            <md-toolbar class="md-whiteframe-1dp">
                <div class="md-toolbar-tools" layout="row"  layout-align="start center">
                    <h3 flex>Keywords</h3>
                    <md-button flex="5" ng-click="editable.keywords=true" ng-if="!editable.keywords" class="md-primary" aria-label="Start Update Keywords" >
                        <i class="mdi mdi-pencil orange"></i>
                    </md-button>
                    <md-button flex="5"  ng-click="changeKeywords()" ng-if="editable.keywords" class="md-primary"
                               aria-label="Update Keywords">
                        <span class="orange">Update</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content md-theme="smartTheme">
                <md-chips ng-if="zone.keywords" ng-model="zone.keywords" readonly="!editable.keywords" md-enable-chip-edit="editable.keywords" ng-cloak></md-chips>
            </md-card-content>
        </md-card>
    </div>

    <div class="detail-zone-location" ng-switch-when="location">

        <div class="md-whiteframe-1dp detail-options" layout="row" md-theme="smartTheme">

            <md-button class="md-raised md-primary"  aria-label="Rectangle" flex="10" ng-disabled="!editable.location || zone.shape.type==='rectangle'" ng-click="setShape('rectangle')">
                <i class="mdi mdi-vector-rectangle"></i>
            </md-button>
            <md-button  class="md-raised md-primary"  aria-label="circle" flex="10" ng-disabled="!editable.location ||zone.shape.type==='circle'" ng-click="setShape('circle')">
                <i class="mdi mdi-vector-circle"></i>
            </md-button>
            <md-button  class="md-raised md-primary" aria-label="Polygon" flex="10" ng-disabled="!editable.location ||zone.shape.type==='polygon'" ng-click="setShape('polygon')">
                <i class="mdi mdi-vector-polygon"></i>
            </md-button> 


            <div flex="5" class="center">Center</div>

            <md-input-container flex="20" >
                <label>Latitude</label>
                <input input="text" ng-model="zone.center[0]" ng-disabled="!editable.location">
            </md-input-container>
            <md-input-container flex="20">
                <label>Longitude</label>
                <input input="text" ng-model="zone.center[1]" ng-disabled="!editable.location">
            </md-input-container>  

            <md-button flex="5" class="md-primary" aria-label="Current location" ng-disabled="!editable.location" ng-click="getCurrentLocation()" >
                <i class="mdi mdi-crosshairs-gps" ></i>
            </md-button>

            <md-button flex="5" ng-click="updateLocation()" ng-if="!editable.location" class="md-primary" aria-label="Start Update Location" >
                <i class="mdi mdi-pencil orange"></i>
            </md-button>
            <md-button flex="5"  ng-click="changeLocation()" ng-if="editable.location" class="md-primary"
                       aria-label="Update Location">
                <span class="orange">Update</span>
            </md-button>

        </div>

        <ng-map zoom="11" center="{{zone.center}}" map-type-id="ROADMAP"  on-center-changed="self.centerChanged()">

            <drawing-manager ng-if="newShape"
                             on-overlaycomplete="self.onMapOverlayCompleted()"
                             drawing-control-options="{position: 'TOP_CENTER',drawingModes:['{{zone.shape.type}}']}"
                             drawingControl="true"
                             drawingMode="null">
            </drawing-manager>

            <shape  name="polygon" ng-if="!newShape&&zone.shape.type==='polygon'" 
                   stroke-color="{{Color}}" editable="{{editable.location}}"
                   stroke-opacity="1.0" stroke-weight="2"
                   paths="{{zone.shape.paths}}" >
            </shape>

            <shape  name="circle" ng-if="!newShape&&zone.shape.type==='circle'" draggable="{{editable.location}}" editable="{{editable.location}}"
                   stroke-color='{{Color}}' stroke-opacity="1.0"stroke-weight="2"
                   center="{{zone.shape.center}}" radius="{{zone.shape.radius}}">
            </shape>

            <shape  name="rectangle"  ng-if="!newShape&&zone.shape.type==='rectangle'"
                   stroke-color='{{Color}}' editable="{{editable.location}}"
                   stroke-opacity="1.0" stroke-weight="2"
                   bounds="{{zone.shape.bounds}}">
            </shape>
            
            <!--REST-->
            
            <shape  name="polygon" ng-repeat="other in others" ng-if="other.shape.type==='polygon'&&other.shape.paths.length>0" 
                   stroke-color="#808080" 
                   stroke-opacity="1.0" stroke-weight="2"
                   paths="{{other.shape.paths}}" >
            </shape>
            
            
            <shape  name="circle"  ng-repeat="other in others" ng-if="other.shape.type==='circle'" 
                   stroke-color='#808080' stroke-opacity="1.0"stroke-weight="2"
                   center="{{other.shape.center}}" radius="{{other.shape.radius}}">
            </shape>

            <shape  name="rectangle"   ng-repeat="other in others" ng-if="other.shape.type==='rectangle'"
                   stroke-color='#808080' 
                   stroke-opacity="1.0" stroke-weight="2"
                   bounds="{{other.shape.bounds}}">
            </shape>
            


        </ng-map>



    </div>



</md-content>
