<ng-include src="'/views/_application/__utils/popover-main.html'"></ng-include>
<ng-include src="'/views/_application/__utils/popover-user.html'"></ng-include>
<div layout="row" flex>
    <md-sidenav layout="column" flex="20" class="md-sidenav-left md-whiteframe-z2"  id="sidebar" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  md-theme="smartTheme">
        <header class="md-whiteframe-2dp">
            <md-toolbar layout="row" ng-init="showMain=false">
                <a class="md-toolbar-tools" flex="80" ng-href="{{statify('application', titleMain)}}" layout="row">
                    <i class="icon house_with_garden_36" flex="20"></i>
                    <span flex>{{titleMain}}</span>

                </a>
                <md-button aria-label="Open main menu" class="md-icon-button" flex ng-click="showMain=!showMain; showOptions=false">
                    <md-icon  md-font-icon="mdi-apps" class="mdi"></md-icon>
                </md-button>


            </md-toolbar>

        </header>

        <md-content>
            <md-subheader class="md-primary" layout="row" ng-init="showOptions=false" layout-align="center center" ng-click="showOptions=!showOptions; showMain=false">
                <span flex>{{user.email}}
                </span>
                <md-icon md-font-icon="mdi-chevron-down" class="mdi md-primary" flex ></md-icon>
            </md-subheader>


        </md-content>

    </md-sidenav>


    <div flex layout="column">
        <div ui-view="content" id="content" flex></div>

            <div flex class="footer">
            <md-divider></md-divider>
            <md-toolbar layout="row">

                <h6 flex-offset="85"><i class="mdi mdi-copyright"></i><span>Smart Town 2016</span></h6>


            </md-toolbar>

        </div>

    </div>
</div>




