<ng-include src="'/views/_application/__utils/popover-main.html'"></ng-include>
<ng-include src="'/views/_application/__utils/popover-user.html'"></ng-include>
<div layout="row" flex>
    <md-sidenav layout="column" flex="20" class="md-sidenav-left md-whiteframe-z2"  id="sidebar" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  md-theme="smartTheme">
        <header class="md-whiteframe-2dp">
            <md-toolbar layout="row" ng-init="showMain=false">
                <a class="md-toolbar-tools" flex="80" ng-href="{{statify('application', titleMain)}}" layout="row">
                    <i class="icon house_with_garden_36" flex="20"></i>
                    <span flex>{{titleMain}}</span>

                </a>
                <md-button aria-label="Open main menu" class="md-icon-button" flex ng-click="showMain=!showMain; showOptions=false">
                    <md-icon  md-font-icon="mdi-apps" class="mdi"></md-icon>
                </md-button>
            </md-toolbar>

        </header>

        <md-content>
            <md-subheader class="md-primary" layout="row" ng-init="showOptions=false" layout-align="center center" ng-click="showOptions=!showOptions; showMain=false">
                <span flex>{{user.email}}
                </span>
                <md-icon md-font-icon="mdi-chevron-down" class="mdi md-primary" flex ></md-icon>
            </md-subheader>
        </md-content>

        <md-content class="notifications">
            <md-toolbar class="md-primary">
                <h2 class="md-toolbar-tools">
                   <i class="mdi mdi-alert"></i>&nbsp;
                    <span>Notifications</span>
                </h2>
            </md-toolbar>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="notie in notifications" ng-click="goToNotificationDetail(notie._id)">
                   <md-icon  md-font-icon="{{Icon(notie.display_name)}}" class="mdi md-avatar" style="font-size: 2em"></md-icon>  
                    <div class="md-list-item-text" layout="column">
                        <h3>{{notie.display_name}}</h3>
                        <p>{{notie.last_sync|date:'medium'}}</p>
                    </div>
                </md-list-item>
                
                <md-list-item ng-if="notifications.length===0">
                    No Notifications
                </md-list-item>
            </md-list>
        </md-content>


    </md-sidenav>
    <div flex layout="column">
        <div ui-view="content" id="content" flex></div>

        <div flex class="footer">
            <md-divider></md-divider>
            <md-toolbar layout="row">

                <h6 flex-offset="85"><i class="mdi mdi-copyright"></i><span>Smart Town 2016</span></h6>

            </md-toolbar>

        </div>

    </div>
</div>





