<ui-title>Invite</ui-title>
<md-toolbar class="md-whiteframe-1dp" id="main-toolbar">
    <div class=" toolbar-create md-toolbar-tools" layout="row">
        <md-button aria-label="Go Back" flex="10" class="button-back" ng-click="goBack()">
            <i class="mdi mdi-chevron-left"></i>Go Back
        </md-button>
        <h2 flex>
            <span>Invite People</span>
        </h2>
    </div>
</md-toolbar>
<md-content layout-padding layout="column" md-theme="smartTheme" layout-align="none center">

    <h3 style="font-size:2.5em" flex>Invite someone to work in the project</h3>
    <p style="font-size:2em; margin-top: -3%;" flex>More admin, more sensors</p>

    <md-input-container flex style="width: 40%;">
       <label>Someone Email</label>
        <input ng-model="guest.email" aria-label="email" >
    </md-input-container>
    <div flex class="button-create button-invite" layout="row" layout-align="center center">
     <md-button class="md-raised md-primary md-invite" ng-click="sendInvitation()">Invite, please</md-button>
    </div>
</md-content>