<md-dialog aria-label="New Conversion"  ng-cloak class="conversion-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi" md-font-icon="mdi-close"  aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content md-theme="smartTheme">
            <div class="md-dialog-content" layout="column">
                <md-input-container flex >
                    <label>Password</label>
                    <input ng-model="user.password" type="password" aria-label="Password" >
                </md-input-container>
                
                 <md-input-container flex >
                    <label>Repeat Password</label>
                    <input ng-model="user.repeat_password" type="password" aria-label="Repeat Password" >
                </md-input-container>
                
                <div class="errors" flex>
                    <p ng-if="errors.Empty" >Error: PasswordEmpty</p>
                    <p ng-if="errors.Equals">Error: Password Equals</p>
               
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="confirm()" >
                Confirm
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>