/**Colors**/
$black                  :rgb(0,0,0);
$yellow					: #ffeb3b;
$clear_black            : rgba(0,0,0,0.5);
$red                    : rgb(221,44,0);
$white                  : #FFFFFF;
$clear_orange           :rgba(251, 225, 187, 0.97);
